 <header class=nav>
        <li><a <%= link_to 'Home', root_path %> Home </a></li>
        <li><a <%= link_to 'About', about_path %> About </a></li>
        <li><a <%= link_to 'Contact', contact_path %> Contact </a></li>
        <li><a <%= link_to 'Products', products_path %> Our Cakes </a></li>
  </header>  
  <h1><center>We make your sweet dreams come true...</center></h1>
 
